# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# Log files
*.log

# PDF files
*.pdf

# JSON order files
orders_*.json

# Other
.DS_Store
Thumbs.db
Medicines/chroma.sqlite3
medicines_vectordb/chroma.sqlite3
*.sqlite3
